[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Tower of Time
GenericName=Tower of Time
Comment=Tower of Time
Icon=/home/shushtain/gog/tower_of_time/support/icon.png
Exec="/home/shushtain/gog/tower_of_time/start.sh" ""
Categories=Game;
Path=/home/shushtain/gog/tower_of_time

