[Unit]
Description=%p
BindsTo=graphical-session.target
Wants=graphical-session.target
After=systemd-user-sessions.service

[Service]
Type=notify
ExecStart=/usr/bin/start-hyprland

[Install]
WantedBy=graphical-session.target
