[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync gdrive: %h/drive --fast-list --conflict-resolve newer --exclude-from %h/drive/.rcloneignore --force --drive-chunk-size 128M --drive-acknowledge-abuse
