"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[[mgr.prepend_keymap]]
on = "!"
run = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

[[mgr.prepend_keymap]]
on = "<A-A>"
run = "toggle_all --state=on"
desc = "Select all (force)"

[[mgr.prepend_keymap]]
on = "<A-a>"
run = "toggle_all"
desc = "Select all"

[[mgr.prepend_keymap]]
on = "<Enter>"
run = "enter"
desc = "Enter the child directory"

[[mgr.prepend_keymap]]
on = "R"
run = "bulk_rename"
desc = "Bulk rename"

[[mgr.prepend_keymap]]
on = ["u"]
run = "plugin recycle-bin"
desc = "trash"

[[mgr.prepend_keymap]]
on = ["g", "/"]
run = "cd /"
desc = "/"

[[mgr.prepend_keymap]]
on = ["g", "h"]
run = "cd ~"
desc = "~"

[[mgr.prepend_keymap]]
on = ["g", "c"]
run = "cd ~/.config"
desc = "~/.config"

[[mgr.prepend_keymap]]
on = ["g", "d"]
run = "cd ~/desk"
desc = "~/desk"

[[mgr.prepend_keymap]]
on = ["g", "b"]
run = "cd ~/box"
desc = "~/box"

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'
desc = "::.git::"

[[mgr.prepend_keymap]]
on = ["c", "a"]
run = "plugin compress"
desc = "Archive selected files"

[[mgr.prepend_keymap]]
on = ["c", "A"]
run = "plugin compress -p"
desc = "Archive selected files (password)"

[[mgr.prepend_keymap]]
on = ["c", "m"]
run = "plugin chmod"
desc = "Change permissions"

[[mgr.prepend_keymap]]
on = ["g", "v"]
run = "plugin vcs-files"
desc = "Show Git file changes"

[[mgr.prepend_keymap]]
on = "\\"
run = "plugin toggle-pane min-preview"
desc = "Toggle preview"

## # MOUNT

[[mgr.prepend_keymap]]
on = ["M", "/"]
run = "plugin mount"
desc = "Mount"

[[mgr.prepend_keymap]]
on = ["M", "m"]
run = "plugin gvfs -- select-then-mount"
desc = "Mount"

[[mgr.prepend_keymap]]
on = ["M", "M"]
run = "plugin gvfs -- select-then-mount --jump"
desc = "Mount and jump"

[[mgr.prepend_keymap]]
on = ["M", "R"]
run = "plugin gvfs -- remount-current-cwd-device"
desc = "Remount"

[[mgr.prepend_keymap]]
on = ["M", "u"]
run = "plugin gvfs -- select-then-unmount --eject"
desc = "Unmount"

[[mgr.prepend_keymap]]
on = ["M", "U"]
run = "plugin gvfs -- select-then-unmount --eject --force"
desc = "Force Unmount"

[[mgr.prepend_keymap]]
on = ["M", "g"]
run = "plugin gvfs -- jump-to-device"
desc = "Go to mounted"

[[mgr.prepend_keymap]]
on = ["M", "`"]
run = "plugin gvfs -- jump-back-prev-cwd"
desc = "Go back"

[[mgr.prepend_keymap]]
on = ["M", "A"]
run = "plugin gvfs -- automount-when-cd"
desc = "Enable automount"

[[mgr.prepend_keymap]]
on = ["M", "a"]
run = "plugin gvfs -- automount-when-cd --disabled"
desc = "Disable automount"
