"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [0, 1, 1]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = true
# linemode = "mtime"
show_hidden = true
show_symlink = false
scrolloff = 8
title_format = "{cwd}"

[preview]
wrap = "yes"
tab_size = 4
image_delay = 50
image_filter = "nearest"

[input]
cursor_blink = false

[opener]
play = [
  { run = "mpv %s", block = true, desc = "MPV" },
  { run = "mpv %s", orphan = true, desc = "MPV (detached)" },
  { run = "$BROWSER file://%s", orphan = true, desc = "Browser" },
  { run = "nvim %s", orphan = true, desc = "Neovim" },
]
edit = [
  { run = "nvim %s", block = true, desc = "Neovim" },
  { run = "nvim %s", orphan = true, desc = "Neovim (detached)" },
  { run = "nvim --clean %s", block = true, desc = "Neovim (clean)" },
  { run = "$BROWSER %s", orphan = true, desc = "Browser" },
]
open = [
  { run = "xdg-open %s", orphan = true, desc = "Default" },
  { run = "$BROWSER %s", orphan = true, desc = "Browser" },
  { run = "nvim %s", orphan = true, desc = "Neovim" },
]
extract = [
  { run = "ya pub extract --list %s", desc = "Extract here" },
]

# [open]
# prepend_rules = [
#   { url = "*.html", use = ["open", "edit"] },
#   { mime = "text/*", use = "edit" },
# ]
# append_rules = [
#   { url = "*", use = "open" },
# ]

[[plugin.prepend_fetchers]]
id = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
url = "*/"
run = "git"
